<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>project.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>project.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>project.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>project.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>project.controllers.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>project.controllers.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>project.controllers.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextRoomController</servlet-name>
        <servlet-class>project.controllers.NextRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousRoomController</servlet-name>
        <servlet-class>project.controllers.PreviousRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRoomController</servlet-name>
        <servlet-class>project.controllers.ManageRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToAdminController</servlet-name>
        <servlet-class>project.controllers.BackToAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>project.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomController</servlet-name>
        <servlet-class>project.controllers.CreateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>project.controllers.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>project.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByDateController</servlet-name>
        <servlet-class>project.controllers.SearchByDateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDaysController</servlet-name>
        <servlet-class>project.controllers.GetDaysController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCartController</servlet-name>
        <servlet-class>project.controllers.ClearCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToUserController</servlet-name>
        <servlet-class>project.controllers.BackToUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>project.controllers.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookingController</servlet-name>
        <servlet-class>project.controllers.ConfirmBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>project.controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>project.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserController</servlet-name>
        <servlet-class>project.controllers.ManageUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>project.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextUserController</servlet-name>
        <servlet-class>project.controllers.NextUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousUserController</servlet-name>
        <servlet-class>project.controllers.PreviousUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>project.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>project.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextRoomController</servlet-name>
        <url-pattern>/NextRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousRoomController</servlet-name>
        <url-pattern>/PreviousRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRoomController</servlet-name>
        <url-pattern>/ManageRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToAdminController</servlet-name>
        <url-pattern>/BackToAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomController</servlet-name>
        <url-pattern>/CreateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByDateController</servlet-name>
        <url-pattern>/SearchByDateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDaysController</servlet-name>
        <url-pattern>/GetDaysController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCartController</servlet-name>
        <url-pattern>/ClearCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToUserController</servlet-name>
        <url-pattern>/BackToUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookingController</servlet-name>
        <url-pattern>/ConfirmBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/ManageUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextUserController</servlet-name>
        <url-pattern>/NextUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousUserController</servlet-name>
        <url-pattern>/PreviousUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
